html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background-color:rgb(6, 170, 235);
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  text-align: left;
}

#list {
  margin-top: 10px;
  border: 2px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  width: 320px;
  height: 500px;  
}

h2 {
  text-align: center;
  margin-top: auto;
}
